@import "./properties";

nav {
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $border-color-grey;

  .header {


    .logo {
        width: 50%;
      }
  }
}