
.stories {
  margin-top: 50px;
  width: 100%; 
  height: 70px; 
  border: 1px solid red; 
  
  .list {
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 10px;
  }
}